@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section section-xl bg-default text-center">
    <div class="container">
        <h6 class="text-gray-600">BELKİ BUNLARI BİLMEK İSTERSİN</h6>
        <h2>İLGİNİZİ ÇEKEBİLECEK YAZILAR</h2>
        <div class="row row-125">
            <div class="col-md-6 col-lg-4">
                <article class="post-classic">
                    <figure class="post-classic-figure"><a href="#"><img src="~/Website/images/vegetables.png" alt="" width="346" height="130" /></a></figure>
                    <div class="post-classic-content">
                        <time class="post-classic-time" datetime="2019-09-19">SEBZE-MEYVE YEMENİN ÖNEMİ</time>
                        <h5 class="post-classic-title"><a href="https://www.yakiniliskiler.com/6017-Arkadaşlık-Nasıl-Kurulur-">BOLCA SAĞLIK</a></h5><a class="post-classic-link" href="#">TIKLA</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <article class="post-classic">
                    <figure class="post-classic-figure"><a href="#"><img src="~/Website/images/drinkingcoffee.png" alt="" width="346" height="130" /></a></figure>
                    <div class="post-classic-content">
                        <time class="post-classic-time" datetime="2019-09-19">KAHVE İÇMEK?</time>
                        <h5 class="post-classic-title"><a href="https://fortim.com.tr/blogs/haberler/duzenli-uykunun-faydalari">ÖLÇÜYÜ KAÇIRMADAN</a></h5><a class="post-classic-link" href="#">TIKLA</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <article class="post-classic">
                    <figure class="post-classic-figure"><a href="#"><img src="~/Website/images/breakfast.png" alt="" width="346" height="130" /></a></figure>
                    <div class="post-classic-content">
                        <time class="post-classic-time" datetime="2019-09-19">GERÇEKTEN EN ÖNEMLİ ÖĞÜN MÜ?</time>
                        <h5 class="post-classic-title"><a href="https://www.koclukmerkezi.com/hobi-edinmek-neden-onemlidir/">KAHVALTI</a></h5><a class="post-classic-link" href="#">TIKLA</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="section section-xl bg-default text-center">
    <div class="container">
     
        <div class="row row-125">
            <div class="col-md-6 col-lg-4">
                <article class="post-classic">
                    <figure class="post-classic-figure"><a href="#"><img src="~/Website/images/dinner.png" alt="" width="346" height="130" /></a></figure>
                    <div class="post-classic-content">
                        <time class="post-classic-time" datetime="2019-09-19">AKŞAM YEMEĞİ</time>
                        <h5 class="post-classic-title"><a href="https://www.yakiniliskiler.com/6017-Arkadaşlık-Nasıl-Kurulur-">EN SON SAAT KAÇ OLUR?</a></h5><a class="post-classic-link" href="#">TIKLA</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <article class="post-classic">
                    <figure class="post-classic-figure"><a href="#"><img src="~/Website/images/kitap.png" alt="" width="346" height="130" /></a></figure>
                    <div class="post-classic-content">
                        <time class="post-classic-time" datetime="2019-09-19">KİTAP OKUMAK</time>
                        <h5 class="post-classic-title"><a href="https://fortim.com.tr/blogs/haberler/duzenli-uykunun-faydalari">SENCE DE EN MÜKEMMEL AKTİVİTELERDEN DEĞİL Mİ?</a></h5><a class="post-classic-link" href="#">TIKLA</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <article class="post-classic">
                    <figure class="post-classic-figure"><a href="#"><img src="~/Website/images/advice.png" alt="" width="346" height="130" /></a></figure>
                    <div class="post-classic-content">
                        <time class="post-classic-time" datetime="2019-09-19">TAVSİYE ALMAK?</time>
                        <h5 class="post-classic-title"><a href="https://www.koclukmerkezi.com/hobi-edinmek-neden-onemlidir/">ANLATMAKTAN,SORMAKTAN ÇEKİNMEYİN!</a></h5><a class="post-classic-link" href="#">TIKLA</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>