<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/Website/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="~/Website/text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7COpen+Sans:400,600,700%7CSource+Code+Pro:300,400,500,600,700,900%7CNothing+You+Could+Do%7CPoppins:400,500">
    <link rel="stylesheet" href="~/Website/css/bootstrap.css">
    <link rel="stylesheet" href="~/Website/css/fonts.css">
    <link rel="stylesheet" href="~/Website/css/style.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }</style>
</head>
<body>
  
        <!-- Breadcrumbs-->
        <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/Website/images/hii.png);">
            <div class="container">
                <h2 class="breadcrumbs-custom-title"style="color:rgb(34, 45, 79)" >HAKKIMDA</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">ANASAYFA</a></li>
                <li class="active">HAKKIMDA</li>
            </ul>
        </section>
        <section class="section section-lg bg-default">
            <div class="container">
                <div class="row row-50 flex-md-row-reverse">
                    <div class="col-md-6 text-center">
                        <div class="box-image-1">
                            <img src="~/Website/images/me.png" alt="" width="468" height="276" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-about">
                            <div class="box-about-title-wrap">
                                <h2 class="box-about-mega-title">G's Special</h2>
                                <h2 class="box-about-title">Ben</h2>
                            </div>
                            <h4 class="box-about-post-title">NASIL BAŞLADI?</h4>
                            <p>21. yüzyıl teknoloji çağında, hızla gelişen teknolojiye ayak uydurayım derken aslında teknoloji bağımlısı olan bendeniz için sadeleşme ve zaman yönetimi kaçınılmazdı. </p>
                            <p>Sadeleşmeden kastım sadece evimi, dolabımı, çevremi değil zihnimi de sadeleştirmekti. Zaman yönetimi ise oldukça önemli, bir o kadar da zorunluydu. Bu yüzden Kişisel Veri Analizi ile günlük neye, ne kadar harcamışım ve ne kadar boşa geçmiş şey varsa onları dönüştürmek yegane hedefimdir. </p><a class="button button-primary" href="#">YALNIZ DEĞİLİM DEĞİL Mİ?</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg-3 bg-default">
         
        <section class="section section-lg bg-default">
            <div class="container">
                <div class="row row-75 flex-lg-row-reverse">
                    <div class="col-lg-6 text-center">
                        <div class="box-image-2">
                            <img src="~/Website/images/cover.png" alt="" width="428" height="214" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2>BİRAZ DA RUHUMUZU MUTLU EDELİM</h2>
                        <!--Bootstrap tabs-->
                        <div class="tabs-albums" id="tabs-1">
                            <!--Nav tabs-->
                            <div class="tabs-albums-select">
                                
                                <ul class="nav nav-tabs">
                                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Sam Smith</a></li>
                               
                                </ul>
                            </div>
                            <!--Tab panes-->
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-1-1">
                                    <div class="jp-modern jp-player-init">
                                        <div class="jp-jplayer"></div>
                                        <div class="jp-audio jp-audio-0" role="application" aria-label="media player">
                                            <ul class="jp-player-list">
                                                <li class="jp-player-list-item" data-jp-title="Lost Souls" data-jp-mp3="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3"></li>
                                                <li class="jp-player-list-item" data-jp-title="Subatomic" data-jp-mp3="http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3"></li>
                                                <li class="jp-player-list-item" data-jp-title="Outer Spirits" data-jp-mp3="http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3"></li>
                                                <li class="jp-player-list-item" data-jp-title="Oldskool" data-jp-mp3="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3"></li>
                                                <li class="jp-player-list-item" data-jp-title="Reasons Why" data-jp-mp3="http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3"></li>
                                                <li class="jp-player-list-item" data-jp-title="Inside Me" data-jp-mp3="http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3"></li>
                                                <li class="jp-player-list-item" data-jp-title="Stars (feat. iTops)" data-jp-mp3="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3"></li>
                                                <li class="jp-player-list-item" data-jp-title="Hills of Truth" data-jp-mp3="http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3"></li>
                                                <li class="jp-player-list-item" data-jp-title="Carelessness" data-jp-mp3="http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3"></li>
                                                <li class="jp-player-list-item" data-jp-title="Into the Future" data-jp-mp3="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3"></li>
                                            </ul>
                                            <div class="jp-modern-interface">
                                                <div class="jp-button jp-playpaus-button">
                                                    <button class="jp-btn jp-play" tabindex="0"></button>
                                                </div>
                                                <div class="jp-time-rail">
                                                    <div class="jp-progress">
                                                        <div class="jp-seek-bar">
                                                            <div class="jp-play-bar"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="jp-current-time"></div>
                                                <div class="jp-button jp-volume-button">
                                                    <button class="jp-btn jp-mute" tabindex="0">max volume</button>
                                                </div>
                                            </div>
                                            <div class="jp-playlist">
                                                <ul class="jp-playlist-inner">
                                                    <li></li>
                                                </ul>
                                            </div>
                                            <div class="jp-modern-footer">
                                        
                                                <ul class="jp-modern-linklist">
                                                    <li><a href="#"><img src="~/Website/images/itunes.png" alt="" width="21" height="10" /><span>iTunes</span></a></li>
                                                    <li><a href="#"><img src="~/Website/images/spotify.png" alt="" width="19" height="9" /><span>Spotify</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   
        <footer class="section footer-classic bg-default">
            <div class="container">
                <div class="row row-15">
                    <div class="col-sm-6">
                        <p class="rights">
                            <span>G</span><span>&nbsp;</span><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>\&nbsp;</span>Tüm Hakları Saklıdır
                            \ Design by <a href="#">G</a>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-contact">
                            <a href="contacts.html">
                                <div class="icon novi-icon mdi mdi-email-outline"></div>BENİMLE İLETİŞİME GEÇ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
        <script src="~/Website/js/core.min.js"></script>
        <script src="~/Website/js/script.js"></script>
</body>
</html>