
@{
    ViewData["Title"] = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/Website/images/logo.png" type="image/x-icon">
    
    

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7COpen+Sans:400,600,700%7CSource+Code+Pro:300,400,500,600,700,900%7CNothing+You+Could+Do%7CPoppins:400,500">
    <link rel="stylesheet" href="~/Website/css/bootstrap.css">
    <link rel="stylesheet" href="~/Website/css/fonts.css">
    <link rel="stylesheet" href="~/Website/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
 
    <section class="breadcrumbs-custom bg-image context-dark" style="background-image:url(/Website/images/iletisim.png);">
        <div class="container">
            <h2 class="breadcrumbs-custom-title" style="color:rgb(34, 45, 79)">İLETİŞİM</h2>
        </div>
        <ul class="breadcrumbs-custom-path">
          <li><a href="index.html">Anasayfa</a></li>
          <li class="active">İLETİŞİM</li>
        </ul>
      </section>
      <section class="section section-md bg-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-10">
              <h3>İLETİŞİM DETAY</h3>
                    <p class="text-gray-600">Bu sayfada, işbirliği yapmak veya bir soru sormak isterseniz benimle iletişime geçmek için gerekli tüm iletişimi bulabilirsiniz.
                       </p> </div>
          </div>
          <div class="row row-50 justify-lg-content-center row-custom-border">
            <div class="col-lg-4 col-md-6">
              <div class="box-icon-classic">
                <div class="icon novi-icon icon-primary icon-lg fl-bigmug-line-cellphone55"></div>
                <h5 class="box-icon-classic-title">Telefonlar</h5>
                <ul class="box-icon-classic-list">
                  <li><a href="tel:#">Telefon No:9834658984</a></li>
                  <li><a href="tel:#">WhatsApp:32895636458</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="box-icon-classic">
                <div class="icon novi-icon icon-primary icon-lg fl-bigmug-line-big104"></div>
                <h5 class="box-icon-classic-title">Adres</h5>
                <ul class="box-icon-classic-list">
                            <li><a href="#">Kuzey Büyük <br> Okyanus</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="box-icon-classic">
                <div class="icon novi-icon icon-primary icon-md fl-bigmug-line-email64"></div>
                <h5 class="box-icon-classic-title">Mails</h5>
                <ul class="box-icon-classic-list">
                  <li><a href="mailto:#">info@g.org</a></li>
                  <li><a href="mailto:#">mail@g.org</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
            <footer class="section footer-classic bg-default">
        <div class="container">
          <div class="row row-15">
            <div class="col-sm-6">
              <p class="rights"><span>G's Special</span><span>&nbsp;</span><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>\&nbsp;</span>Tüm Hakları Saklıdır
                \ Design by <a href="https://www.templatemonster.com/">G</a>
              </p>
            </div>
            <div class="col-sm-6">
              <div class="footer-contact"><a href="contacts.html">
                  <div class="icon novi-icon mdi mdi-email-outline"></div>BENİMLE İLETİŞİME GEÇ</a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="Website/js/core.min.js"></script>
    <script src="Website/js/script.js"></script>
  </body>
</html>

