
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/Website/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="~/Website/text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7COpen+Sans:400,600,700%7CSource+Code+Pro:300,400,500,600,700,900%7CNothing+You+Could+Do%7CPoppins:400,500">
    <link rel="stylesheet" href="~/Website/css/bootstrap.css">
    <link rel="stylesheet" href="~/Website/css/fonts.css">
    <link rel="stylesheet" href="~/Website/css/style.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }</style>
</head>
<body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="~/Website/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt=""></a></div>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!--RD Navbar-->
            <div class="rd-navbar-wrap" style="position: absolute">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!--RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!--RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!--RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <!--Brand--><a class="brand" href="index.html"><img src="~/Website/images/logo.png" style="width:100px;height:100px;border-radius:%50;" /></a>
                                </div>
                            </div>
                            <div class="rd-navbar-main-element">
                                <div class="rd-navbar-nav-wrap">
                                    <ul class="rd-navbar-nav">
                                        <li class="rd-nav-item active">
                                            <a class="rd-nav-link" href="index.html">Anasayfa</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="about.html">Hakkında</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="typography.html">İletİşİm</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="contacts.html">Günlük Doz</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="contacts.html">Testler</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rd-navbar-collapse">
                                <ul class="socialite-list">
                                    <li><a class="icon novi-icon socialite fa-facebook" href="#"></a></li>
                                    <li><a class="icon novi-icon socialite fa-twitter" href="#"></a></li>
                                    <li><a class="icon novi-icon socialite fa-instagram" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!--Swiper-->
        <section class="section swiper-container swiper-slider swiper-slider-1" data-loop="true" data-autoplay="3892" data-simulate-touch="false">
            <div class="swiper-wrapper text-center">
                <div class="swiper-slide context-dark" data-slide-bg="~/Website/images/home1-01-1920x950.jpg">
                    <div class="swiper-slide-caption section-md">
                        <div class="container">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-8">
                                    <h5 data-caption-animate="fadeInUp" data-caption-delay="100">Bugün kendini nasıl hissediyorsun?</h5>

                                    <h1 data-caption-animate="fadeInUp" data-caption-delay="200" style="font-size:30px">Mutlu, sorumlu ve daha sağlıklı hissetmek ister misin?</h1>
                                    
                                    
                                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-modern button-custom-size-1" href="Sorular.cshtml">Hadi tanışalım!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide context-dark" data-slide-bg="~/Website/images/home1-02-1920x950.jpg">
                    <div class="swiper-slide-caption section-md">
                        <div class="container">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-8">
                                    <h5 data-caption-animate="fadeInUp" data-caption-delay="100">Nerden başlasak?</h5>
                                    <h1 data-caption-animate="fadeInUp" data-caption-delay="200" style="font-size:30px">Spor,çok fazla sosyal medya, düzenli uyku?</h1>
                                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-modern button-custom-size-1" href="Sorular.cshtml">Hadi tanışalım!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide context-dark" data-slide-bg="~/Website/images/home1-03-1920x950.jpg">
                    <div class="swiper-slide-caption section-md">
                        <div class="container">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-8">
                                    <h5 data-caption-animate="fadeInUp" data-caption-delay="100">Hobileri es geçmeyelim!</h5>
                                    <h1 data-caption-animate="fadeInUp" data-caption-delay="200" style="font-size:30px">Ve tabiki en önemlisi beslenme, öğünler ve kendine ayırdığın vakit?</h6>
                                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-modern button-custom-size-1" href="#">Hadi tanışalım!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Swiper Pagination-->
            <div class="swiper-pagination"></div>
        </section>

        <section class="parallax-container section-lg text-center" data-parallax-img="~/Website/images/bg-home1-01-1920x1000.jpg">
            <div class="parallax-content">
                <div class="container">
                    <h6 class="text-gray-600">BEKLENEN</h6>
                    <h2>Sitenin Açılmasına</h2>
                    <div class="row justify-content-center">
                        <div class="col-lg-11">
                            <div class="post-event">
                                <div class="countdown" data-type="until" data-time="17 Aug 2019 00:00"></div><img src="~/Website/images/wait.jpg" alt="" width="571" height="156" /><a class="button button-primary button-lg" href="#">Neler Olacak?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg bg-default text-center">
            <div class="container">
                <h6 class="text-gray-600">Şimdi sana biraz ilham lazım?</h6>
                <h2>recent videos</h2>
                <!--Bootstrap tabs-->
                <div class="tabs-custom tabs-vertical tabs-video" id="tabs-2">
                    <!--Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-2-1">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="886" height="668" src="https://www.youtube.com/embed/uojBW7c53V4?enablejsapi=1" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-2-2">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="886" height="668" src="https://www.youtube.com/embed/7myHrZ3aQR8?enablejsapi=1" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-2-3">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="886" height="668" src="https://www.youtube.com/embed/MgDZd1xLhQI?enablejsapi=1" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-2-4">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="886" height="668" src="https://www.youtube.com/embed/yiRq4AoX18U?enablejsapi=1" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-2-5">
                            <div class="entry-video embed-responsive embed-responsive-16by9">
                                <iframe width="886" height="668" src="https://www.youtube.com/embed/N1DEOCUujUg?enablejsapi=1" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-wrap">
                        <!--Nav tabs-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" href="#tabs-2-1" data-toggle="tab">
                                    <div class="nav-video">
                                        <figure class="nav-video-figure">
                                            <img src="~/Website/images/spor.jpg" alt="" width="140" height="40" />
                                        </figure>
                                        <h6 class="nav-video-title">NEDEN SPOR?</h6>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#tabs-2-2" data-toggle="tab">
                                    <div class="nav-video">
                                        <figure class="nav-video-figure">
                                            <img src="~/Website/images/self.jpg" alt="" width="140" height="40" />
                                        </figure>
                                        <h6 class="nav-video-title">NEDEN KENDİNE VAKİT AYIRMAK ÖNEMLİ?</h6>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#tabs-2-3" data-toggle="tab">
                                    <div class="nav-video">
                                        <figure class="nav-video-figure">
                                            <img src="~/Website/images/beverages.jpg" alt="" width="140" height="40" />
                                        </figure>
                                        <h6 class="nav-video-title">SAĞLIKLI İÇECEKLER?</h6>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#tabs-2-4" data-toggle="tab">
                                    <div class="nav-video">
                                        <figure class="nav-video-figure">
                                            <img src="~/Website/images/mealtimes.jpg" alt="" width="140" height="40" />
                                        </figure>
                                        <h6 class="nav-video-title">SAĞLIKLI BESLENMEK!</h6>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#tabs-2-5" data-toggle="tab">
                                    <div class="nav-video">
                                        <figure class="nav-video-figure">
                                            <img src="~/Website/images/sosyal.jpg" alt="" width="140" height="40" />
                                        </figure>
                                        <h6 class="nav-video-title">SOSYAL MEDYA YARAR? ZARAR?</h6>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="section" data-lightgallery="group">
            <div class="row no-gutters">
                <div class="col-lg-3 col-sm-6">
                    <div class="thumbnail-classic">
                        <a class="thumbnail-classic-figure" data-lightgallery="item" href="~/Website/images/spor2.jpg"><img src="~/Website/images/spor2.jpg" alt="" width="480" height="175" /></a>
                        <div class="thumbnail-classic-caption">
                            <h5 class="thumbnail-classic-title">Hayatınızı düzene sokabilirsiniz</h5>
                            <time class="thumbnail-classic-time" datetime="2019-09-19">HEMEN</time>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="thumbnail-classic">
                        <a class="thumbnail-classic-figure" data-lightgallery="item" href="~/Website/images/salad.jpg"><img src="~/Website/images/salad.jpg" alt="" width="480" height="175" /></a>
                        <div class="thumbnail-classic-caption">
                            <h5 class="thumbnail-classic-title">Sağlıklı olmak için asla geç değil</h5>
                            <time class="thumbnail-classic-time" datetime="2019-09-19">ŞİMDİ BAŞLA</time>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="thumbnail-classic">
                        <a class="thumbnail-classic-figure" data-lightgallery="item" href="~/Website/images/self.jpg"><img src="~/Website/images/self.jpg" alt="" width="480" height="175" /></a>
                        <div class="thumbnail-classic-caption">
                            <h5 class="thumbnail-classic-title">Her şey kendini sevmekle başlar.</h5>
                            <time class="thumbnail-classic-time" datetime="2019-09-19">HER ZAMAN</time>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="thumbnail-classic">
                        <a class="thumbnail-classic-figure" data-lightgallery="item" href="~/Website/images/nosocialmedia.jpg"><img src="~/Website/images/nosocialmedia.jpg" alt="" width="380" height="75" /></a>
                        <div class="thumbnail-classic-caption">
                            <h5 class="thumbnail-classic-title">Sence de sosyal medyada çok zaman geçirmiyor musun?</h5>
                            <time class="thumbnail-classic-time" datetime="2019-09-19">İTİRAF ET</time>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-xl bg-default text-center">
            <div class="container">
                <h6 class="text-gray-600">SON GÜNCELLEMELERİ TAKİP ET</h6>
                <h2>SON YAZILAR</h2>
                <div class="row row-125">
                    <div class="col-md-6 col-lg-4">
                        <article class="post-classic">
                            <figure class="post-classic-figure"><a href="#"><img src="~/Website/images/friendship.png" alt="" width="346" height="130" /></a></figure>
                            <div class="post-classic-content">
                                <time class="post-classic-time" datetime="2019-09-19">ARKADAŞLIK</time>
                                <h5 class="post-classic-title"><a href="https://www.yakiniliskiler.com/6017-Arkadaşlık-Nasıl-Kurulur-">GÜVEN VE RAHATLIK</a></h5><a class="post-classic-link" href="#">TIKLA</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <article class="post-classic">
                            <figure class="post-classic-figure"><a href="#"><img src="~/Website/images/regularsleep.png" alt="" width="346" height="130" /></a></figure>
                            <div class="post-classic-content">
                                <time class="post-classic-time" datetime="2019-09-19">DÜZENLİ UYKU</time>
                                <h5 class="post-classic-title"><a href="https://fortim.com.tr/blogs/haberler/duzenli-uykunun-faydalari">SAĞLIK UYKUYLA BAŞLAR</a></h5><a class="post-classic-link" href="#">TIKLA</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <article class="post-classic">
                            <figure class="post-classic-figure"><a href="#"><img src="~/Website/images/hobies.png" alt="" width="346" height="130" /></a></figure>
                            <div class="post-classic-content">
                                <time class="post-classic-time" datetime="2019-09-19">HOBİLER</time>
                                <h5 class="post-classic-title"><a href="https://www.koclukmerkezi.com/hobi-edinmek-neden-onemlidir/">RAHATLAMA ve RUHSAL SAĞLIK</a></h5><a class="post-classic-link" href="#">TIKLA</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

     
        <footer class="section footer-classic bg-default">
            <div class="container">
                <div class="row row-15">
                    <div class="col-sm-6">
                        <p class="rights">
                            <span>G'S SPECIAL</span><span>&nbsp;</span><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>\&nbsp;</span>TÜM HAKLARI SAKLIDIR
                            \ Design by <a href="#">G</a>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-contact">
                            <a href="contacts.html">
                                <div class="icon novi-icon mdi mdi-email-outline"></div>BENİMLE İLETİŞİME GEÇ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/Website/js/core.min.js"></script>
    <script src="~/Website/js/script.js"></script>
    <!--coded by houdini-->
</body>
</html>