@model VeriAnalizi.Models.Yorumlar

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Yorum Ekleme Sayfası</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yorum" class="control-label"></label>
                <input asp-for="Yorum" class="form-control" />
                <span asp-validation-for="Yorum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="YorumId" class="control-label"></label>
                <input asp-for="YorumId" class="form-control" />
                <span asp-validation-for="YorumId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary" />
                <a asp-action="Index">Diğer Yorumları Gör</a>
            </div>
        </form>
    </div>
</div>

<div>
  
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
